.container{
    border-radius: 15px;
    width: 65%;
    border: 12px solid #dedede;
    background: #fafafa;
    border-top: 20px solid #dedede;
    border-bottom: 77px solid #dedede;
}

.heading{
	display: flex;
	justify-content: space-between;
}

h1{
	font-size:1em;
	background: #0972BA;
	color:#eeeeee;
	font-weight: bold;
	padding: 5px;
	margin: 12px 0; 
	border-radius: 10px 0 10px 0;
}
h2{
	color: #58595B;
	font-size: 1.5rem;
}

.logo-sf{
	display: flex;
	justify-content: flex-end;
}

.logo{
	max-height: 25px;
	margin: 12px 0 0 0;
	justify-self: flex-end;
}

.form-1{

}

.form-2{
	display: none;
	}
.form-3{
	display: none;
}
.form-4{
	display: none;
}
.form-5{
	display: none;
}
.form-6{
	display: none;
	background-color: #ccc;
	height: 400px;
	width: 600px;
	margin: 60px;
    padding: 60px;
}
.form-7{
	display: none;
	background-color: #ccc;
	height: 600px;
	width: 800px;
	margin: 60px;
    padding: 60px;

}
.btn-2{
	display: none;
}
.btn-3{
	float: right;
}
.right:after {
    content: "";
    position: absolute;
    display: none;
}